{% extends 'layout/layout.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

    <div class="sign-up-container" id="cl-wrapper" style="opacity: 1; margin-left: 0px;">

        <div class="middle-sign-up">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center"><img alt="logo" src="images/logo.png" class="logo-img"></h3>
                </div>
                <div>
                    <form method="post" action="{{ path_for('register') }}" class="form-horizontal" style="margin-bottom: 0px !important;">
                        <div class="content">
                            <h5 class="title text-center"><strong>Sign Up</strong></h5>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button type="button" class="btn btn-block btn-trans btn-facebook bg btn-rad"><i class="fa fa-facebook"></i> Sign in with
                                        Facebook
                                    </button>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <button type="button" class="btn btn-block btn-trans btn-twitter bg btn-rad"><i class="fa fa-twitter"></i> Sign in with
                                        Twitter
                                    </button>
                                </div>
                            </div>
                            <p class="text-center">Or</p>

                            <div class="form-group{% if errors.phone %} has-error{% endif %}">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                        <input type="text" class="form-control" placeholder="Mobile phone" name="phone" value="{{ item.phone }}">
                                    </div>
                                    <div id="phone-error">
                                        {% for error in errors.phone %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group{% if errors.email %} has-error{% endif %}">
                                <div class="col-sm-12">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="email" class="form-control" placeholder="E-mail" name="email" value="{{ item.email }}">
                                    </div>
                                    <div id="email-error">
                                        {% for error in errors.email %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group{% if errors.password or errors.confirmation %} has-error{% endif %}">
                                <div class="col-sm-6 col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password" name="password">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                        <input type="password" class="form-control" placeholder="Password" name="confirmation">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div id="password-error">
                                        {% for error in errors.password %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                    <div id="confirmation-error">
                                        {% for error in errors.confirmation %}
                                            <p class="help-block">{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <p class="spacer">By creating an account, you agree with the <a href="#">Terms</a> and <a href="#">Conditions</a>.</p>
                            <button type="submit" class="btn btn-block btn-success btn-rad btn-lg">Sign Up</button>

                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center out-links"><a href="#">&copy; 2014 Your Company</a></div>
        </div>

    </div>
{% endblock %}