{% extends 'layout/layout.twig' %}

{% block title %}Редактирование{% endblock %}

{% block content %}
    <div class="page-head">
        <ol class="breadcrumb">
            <li><a href="{{ path_for('mvc', {'module': args.module, 'controller': args.controller}) }}">Администрирование</a></li>
            <li><a href="{{ path_for('mvc', {'module': args.module, 'controller': args.controller, 'action': 'index'}) }}">Пользователи</a></li>
            <li class="active">Редактирование пользователя</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="block-flat">
                <div class="header">
                    <h3>Редактирование пользователя</h3>
                </div>
                <div class="content">
                    <form action="{{ action }}" parsley-validate="" novalidate="" method="post"
                          autocomplete="off">
                        <div class="form-group{% if errors.email %} has-error{% endif %}">
                            <label>Email</label>
                            <input name="email" parsley-trigger="change" required="" placeholder="Email адрес" class="form-control parsley-validated" type="text"
                                   readonly="readonly" value="{{ item.email }}">
                            {% for error in errors.email %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group{% if errors.phone %} has-error{% endif %}">
                            <label>Телефон</label>
                            <input name="phone" parsley-trigger="change" required="" placeholder="Телефон" class="form-control parsley-validated" type="text" autocomplete="off"
                                   readonly="readonly" value="{{ item.phone }}">
                            {% for error in errors.phone %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group{% if errors.groups %} has-error{% endif %}">
                            <label>Группы</label>
                            <select name="groups[]" class="form-control chosen-select" data-placeholder="Группы" multiple="multiple">
                                {% for group_id, group in groups %}
                                    <option{% if group_id in item.groups|keys %} selected="selected"{% endif %} value="{{ group_id }}">{{ group }}</option>
                                {% endfor %}
                            </select>
                            {% for error in errors.groups %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group{% if errors.password %} has-error{% endif %}">
                            <label>Пароль</label>
                            <input id="pass1" placeholder="Password" required="" class="form-control parsley-validated" type="password" name="password" autocomplete="new-password"
                                   readonly="readonly">
                            {% for error in errors.password %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group{% if errors.confirmation %} has-error{% endif %}">
                            <label>Подтверждение пароля</label>
                            <input parsley-equalto="#pass1" required="" placeholder="Password" class="form-control parsley-validated" type="password" name="confirmation"
                                   readonly="readonly">
                            {% for error in errors.confirmation %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block script %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $("input").removeProp("readonly");
            $('.chosen-select').chosen({allow_single_deselect: true});
//            $('.chosen-select').chosen();
        });
    </script>
{% endblock %}