{% extends 'layout/layout.twig' %}

{% block title %}Пользователи{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page-head">
        <ol class="breadcrumb">
            <li><a href="{{ path_for('mvc', {'module': args.module, 'controller': args.controller}) }}">Администрирование</a></li>
            <li class="active">Пользователи</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="block-flat">
                <div class="header">
                    <h3>Пользователи</h3>
                </div>
                <div class="content">
                    {{ table(table) }}
                    {{ paginator(table) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}