{% extends 'layout/layout.twig' %}

{% block title %}Редактирование{% endblock %}

{% block content %}
    <div class="page-head">
        <ol class="breadcrumb">
            <li><a href="{{ path_for('mvc', {'module': args.module, 'controller': args.controller, 'action': 'index'}) }}">Устройства</a></li>
            <li class="active">{{ id ? 'Редактирование' : 'Создание' }}</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="block-flat">
                <div class="header">
                    <h3>{{ id ? 'Редактирование' : 'Создание' }} устройства</h3>
                </div>
                <div class="content">
                    <form action="{{ action }}" parsley-validate="" novalidate="" method="post"
                          autocomplete="off">
                        <div class="form-group{% if errors.id %} has-error{% endif %}">
                            <label>Номер</label>
                            <input name="id" placeholder="Номер устройства" class="form-control" type="text" value="{{ item.id }}">
                            {% for error in errors.id %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="form-group{% if errors.title %} has-error{% endif %}">
                            <label>Название</label>
                            <input name="title" placeholder="Название устройства" class="form-control" type="text" value="{{ item.title }}">
                            {% for error in errors.title %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary" type="submit">Сохранить</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}