{% extends 'layout/layout.twig' %}

{% block title %}Устройства{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="page-head">
        <ol class="breadcrumb">
            <li class="active">Устройства</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-10">
            <div class="block-flat">
                <div class="header">
                    <span class="pull-right">
                        <a class="label label-info" href="{{ create }}"><i class="fa fa-plus"></i></a>
                    </span>
                    <h3>Устройства</h3>
                </div>
                <div class="content">
                    {{ table(table) }}
                    {{ paginator(table) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}