<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.html">

    <title>{% block title %}{% endblock %}</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:300,200,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{{ base_url() }}/js/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ base_url() }}/js/jquery.gritter/css/jquery.gritter.css"/>
    <link rel="stylesheet" href="{{ base_url() }}/fonts/font-awesome-4/css/font-awesome.min.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    {% block head %}{% endblock %}

    <link href="{{ base_url() }}/css/style.css" rel="stylesheet"/>

</head>

<body class="{{ body_class }}">

{% if messages %}
    <ul id="flash-messages" class="hidden">
        {% for type, lines in messages %}
            {% for line in lines %}
                <li class="{{ type }}">{{ line }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% block body %}{% endblock %}

{% block script %}
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ base_url() }}/js/behaviour/voice-commands.js"></script>
    <script src="{{ base_url() }}/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#flash-messages li').each(function () {
                var class_name = $(this).attr('class');
                var title = '', text = $(this).text(), chunks = text.split('|');

                if (chunks.length > 1) {
                    text = chunks[0];
                    title = chunks[1];
                }

                $.gritter.add({
                    title: title,
                    text: text,
                    class_name: class_name
                });
            });
        });
    </script>

{% endblock %}

</body>

</html>