{% extends 'layout/blank.twig' %}

{% block body %}

    <div id="cl-wrapper">

        <div class="cl-sidebar">
            <div class="cl-toggle"><i class="fa fa-bars"></i></div>
            <div class="cl-navblock">
                <div class="menu-space">
                    <div class="content">
                        <div class="sidebar-logo">
                            <div class="logo">
                                <a href="index2.html"></a>
                            </div>
                        </div>
                        {% if menu %}
                            <ul class="cl-vnavigation">
                                {% for page in menu %}
                                    <li class="{% if page.active and not page.pages %}active{% endif %}{% if page.pages %} parent{% endif %}">
                                        <a href="{{ page.url|raw }}">{{ page.title|raw }}</a>
                                        {% if page.pages %}
                                            <ul class="sub-menu">
                                                {% for subpage in page.pages %}
                                                    <li{% if subpage.active %} class="active"{% endif %}>
                                                        <a href="{{ subpage.url|raw }}">{{ subpage.title|raw }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </div>
                </div>
                {#
                                <div class="text-right collapse-button" style="padding:7px 9px;">
                                    <input type="text" class="form-control search" placeholder="Search..."/>
                                    <button id="sidebar-collapse" class="btn btn-default" style=""><i style="color:#fff;" class="fa fa-angle-left"></i></button>
                                </div>
                #}
            </div>
        </div>
        <div class="container-fluid" id="pcont">
            <!-- TOP NAVBAR -->
            <div id="head-nav" class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right user-nav">
                            <li class="dropdown profile_menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img alt="Avatar" src="{{ base_url() }}/images/avatar6-2.jpg"/><span>Jane Smith</span> <b
                                            class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="{{ path_for('mvc', ['users', 'index', 'index']) }}">Profile</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path_for('logout') }}">Выход</a></li>
                                </ul>
                            </li>
                        </ul>
                        {#<ul class="nav navbar-nav not-nav">

                            <li class="button dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class=" fa fa-inbox"></i></a>
                                <ul class="dropdown-menu messages">
                                    <li>
                                        <div class="nano nscroller">
                                            <div class="content">
                                                <ul>
                                                    <li>
                                                        <a href="#">
                                                            <img src="images/avatar2.jpg" alt="avatar"/><span class="date pull-right">13 Sept.</span> <span
                                                                    class="name">Daniel</span> Hey! How are you?
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="images/avatar_50.jpg" alt="avatar"/><span class="date pull-right">20 Oct.</span><span class="name">Adam</span>
                                                            Hi! Can you fix my phone?
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="images/avatar4_50.jpg" alt="avatar"/><span class="date pull-right">2 Nov.</span><span
                                                                    class="name">Michael</span> Regards!
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <img src="images/avatar3_50.jpg" alt="avatar"/><span class="date pull-right">2 Nov.</span><span class="name">Lucy</span>
                                                            Hello, my name is Lucy
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="foot">
                                            <li><a href="#">View all messages </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="button dropdown">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i><span class="bubble">2</span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="nano nscroller">
                                            <div class="content">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-cloud-upload info"></i><b>Daniel</b> is now following you <span
                                                                    class="date">2 minutes ago.</span></a></li>
                                                    <li><a href="#"><i class="fa fa-male success"></i> <b>Michael</b> commented on your link <span
                                                                    class="date">15 minutes ago.</span></a></li>
                                                    <li><a href="#"><i class="fa fa-bug warning"></i> <b>Mia</b> commented on post <span class="date">30 minutes ago.</span></a>
                                                    </li>
                                                    <li><a href="#"><i class="fa fa-credit-card danger"></i> <b>Andrew</b> sent you a request <span class="date">1 hour ago.</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <ul class="foot">
                                            <li><a href="#">View all activity </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="button"><a class="toggle-menu menu-right push-body" href="javascript:;" class="speech-button"><i class="fa fa-comments"></i></a></li>

                        </ul>#}

                    </div><!--/.nav-collapse animate-collapse -->
                </div>
            </div>


            <div class="cl-mcont">{% block content %}{% endblock %}</div>

        </div>

    </div>
    <!-- Right Chat-->
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right side-chat">
        <div class="header">
            <h3>Chat</h3>
        </div>
        <div class="sub-header" href="#">
            <div class="icon"><i class="fa fa-user"></i></div>
            <p>Online (4)</p>
        </div>
        <div class="content">
            <p class="title">Family</p>
            <ul class="nav nav-pills nav-stacked contacts">
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Michael Smith</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> John Doe</a></li>
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Richard Avedon</a></li>
                <li class="busy"><a href="#"><i class="fa fa-circle-o"></i> Allen Collins</a></li>
            </ul>

            <p class="title">Friends</p>
            <ul class="nav nav-pills nav-stacked contacts">
                <li class="online"><a href="#"><i class="fa fa-circle-o"></i> Jaime Garzon</a></li>
                <li class="outside"><a href="#"><i class="fa fa-circle-o"></i> Dave Grohl</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Victor Jara</a></li>
            </ul>

            <p class="title">Work</p>
            <ul class="nav nav-pills nav-stacked contacts">
                <li><a href="#"><i class="fa fa-circle-o"></i> Ansel Adams</a></li>
                <li><a href="#"><i class="fa fa-circle-o"></i> Gustavo Cerati</a></li>
            </ul>

        </div>
    </nav>

{% endblock %}


{% block script %}
    <script src="{{ base_url() }}/js/jquery.js"></script>
    <script src="{{ base_url() }}/js/jquery.cookie/jquery.cookie.js"></script>
    <script src="{{ base_url() }}/js/jquery.pushmenu/js/jPushMenu.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/js/jquery.nanoscroller/jquery.nanoscroller.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/js/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/js/jquery.ui/jquery-ui.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/js/jquery.gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="{{ base_url() }}/js/behaviour/core.js"></script>

    <style type="text/css">
        #color-switcher {
            position: fixed;
            background: #272930;
            padding: 10px;
            top: 50%;
            right: 0;
            margin-right: -109px;
        }

        #color-switcher .toggle {
            cursor: pointer;
            font-size: 15px;
            color: #FFF;
            display: block;
            position: absolute;
            padding: 4px 10px;
            background: #272930;
            width: 25px;
            height: 30px;
            left: -24px;
            top: 22px;
        }

        #color-switcher p {
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            margin-bottom: 3px;
        }

        #color-switcher .palette {
            padding: 1px;
        }

        #color-switcher .color {
            width: 15px;
            height: 15px;
            display: inline-block;
            cursor: pointer;
        }

        #color-switcher .color.purple {
            background: #7761A7;
        }

        #color-switcher .color.green {
            background: #19B698;
        }

        #color-switcher .color.red {
            background: #EA6153;
        }

        #color-switcher .color.blue {
            background: #54ADE9;
        }

        #color-switcher .color.orange {
            background: #FB7849;
        }

        #color-switcher .color.prusia {
            background: #476077;
        }

        #color-switcher .color.yellow {
            background: #fec35d;
        }

        #color-switcher .color.pink {
            background: #ea6c9c;
        }

        #color-switcher .color.brown {
            background: #9d6835;
        }

        #color-switcher .color.gray {
            background: #afb5b8;
        }
    </style>
    <div id="color-switcher">
        <p>Select Color</p>
        <div class="palette">
            <div class="color purple" data-color="purple"></div>
            <div class="color green" data-color="green"></div>
            <div class="color red" data-color="red"></div>
            <div class="color blue" data-color="blue"></div>
            <div class="color orange" data-color="orange"></div>
        </div>
        <div class="palette">
            <div class="color prusia" data-color="prusia"></div>
            <div class="color yellow" data-color="yellow"></div>
            <div class="color pink" data-color="pink"></div>
            <div class="color brown" data-color="brown"></div>
            <div class="color gray" data-color="gray"></div>
        </div>
        <div class="toggle"><i class="fa fa-angle-left"></i></div>
    </div>

    <script type="text/javascript">
        var link = $('link[href="{{ base_url() }}/css/style.css"]');

        /*
         if($.cookie("css")) {
         link.attr("href",'{{ base_url() }}/css/skin-' + $.cookie("css") + '.css');
         }
         */

        $(function () {
            $("#color-switcher .toggle").click(function () {
                var s = $(this).parent();
                if (s.hasClass("open")) {
                    s.animate({'margin-right': '-109px'}, 400).toggleClass("open");
                } else {
                    s.animate({'margin-right': '0'}, 400).toggleClass("open");
                }
            });

            $("#color-switcher .color").click(function () {
                var color = $(this).data("color");
                $("body").fadeOut(function () {
                    //link.attr('href','css/skin-' + color + '.css');
                    $.cookie("css", color, {expires: 365, path: '/'});
                    window.location.href = "";
                    $(this).fadeIn("slow");
                });
            });
        });
    </script>
    <script src="{{ base_url() }}/js/jquery.codemirror/lib/codemirror.js"></script>
    <script src="{{ base_url() }}/js/jquery.codemirror/mode/xml/xml.js"></script>
    <script src="{{ base_url() }}/js/jquery.codemirror/mode/css/css.js"></script>
    <script src="{{ base_url() }}/js/jquery.codemirror/mode/htmlmixed/htmlmixed.js"></script>
    <script src="{{ base_url() }}/js/jquery.codemirror/addon/edit/matchbrackets.js"></script>
    <script src="{{ base_url() }}/js/jquery.vectormaps/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="{{ base_url() }}/js/jquery.vectormaps/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="{{ base_url() }}/js/behaviour/dashboard.js"></script>
    <script src="{{ base_url() }}/js/chosen/chosen.jquery.js"></script>
    {{ parent() }}
{% endblock %}