{% extends 'layout/layout.twig' %}

{% block title %}Профиль{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h1 class="page-header">Профиль</h1>
{% endblock %}